html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Mukta', sans-serif;
}
figure {
  margin: 0;
}
.logo-brand {
  line-height: 1em;
}
.header {
  background-color: #7acc2d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 1em;
  height: 60px;
}
.hero {
  height: calc(100vh - 60px);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100% 40%;
  background-image: url("../images/curve.png");
  overflow: hidden;
}
.description-product {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(auto, 250px))[3];
  grid-template-columns: repeat(3, minmax(auto, 250px));
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  padding: 12em 0 4em 0;
  border-bottom: 1px solid #e8e8e8;
}
.mentions {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(auto, 250px))[4];
  grid-template-columns: repeat(4, minmax(auto, 250px));
  grid-column-gap: 1em;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 4em 0 4em 0;
}
.footer {
  background-color: #313337;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 1em;
}
.products-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(auto, 1fr))[1];
  grid-template-columns: repeat(1, minmax(auto, 1fr));
  grid-row-gap: 5em;
  padding: 2em 0 10em;
}
.sale-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(auto, 350px) 1fr;
  grid-template-columns: minmax(auto, 350px) 1fr;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  grid-column-gap: 2em;
  height: calc(100vh - 119px);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.sale-container .item {
  -webkit-box-shadow: 0 0 3px #c1bcbc;
  box-shadow: 0 0 3px #c1bcbc;
  padding: 1em;
  height: 400px;
  border-radius: 0.5em;
}
.sale-container .item .sale-product-imgContainer {
  text-align: center;
}
.link-menu {
  text-decoration: none;
  color: #000;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.link-menu:hover {
  color: #fff;
}
.btn {
  background-color: #7acc2d;
  color: #fff;
  padding: 1em;
  text-decoration: none;
  border: 0;
  border-radius: 2px;
  width: 100%;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn:hover {
  background-color: #5e9c24;
}
.grid-main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(auto, 1024px);
  grid-template-columns: minmax(auto, 1024px);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: inherit;
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
.fadeInDown {
  -webkit-animation: fadeInDown 1s alternate;
  animation: fadeInDown 1s alternate;
}
.fadeInUp {
  -webkit-animation: fadeInUp 1s alternate;
  animation: fadeInUp 1s alternate;
}
.rebound {
  -webkit-animation: rebound 1.5s;
  animation: rebound 1.5s;
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-o-keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-moz-keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-o-keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-moz-keyframes rebound {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  20% {
    opacity: 0.8;
    transform: translateY(40px);
  }
  40% {
    opacity: 1;
    transform: translateY(-20px);
  }
  60% {
    opacity: 1;
    transform: translateY(10px);
  }
  80% {
    opacity: 1;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes rebound {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
  20% {
    opacity: 0.8;
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
  }
  40% {
    opacity: 1;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  80% {
    opacity: 1;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-o-keyframes rebound {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  20% {
    opacity: 0.8;
    transform: translateY(40px);
  }
  40% {
    opacity: 1;
    transform: translateY(-20px);
  }
  60% {
    opacity: 1;
    transform: translateY(10px);
  }
  80% {
    opacity: 1;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes rebound {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
  20% {
    opacity: 0.8;
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
  }
  40% {
    opacity: 1;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  80% {
    opacity: 1;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.menu ul li {
  list-style: none;
  display: inline-block;
  padding-left: 1em;
}
.main-title {
  text-align: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  font-size: 2.5em;
}
.products {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(auto, 400px))[2];
  grid-template-columns: repeat(2, minmax(auto, 400px));
  grid-column-gap: 2em;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.product {
  background-color: #fff;
  -webkit-box-shadow: 0 0 3px #c1bcbc;
  box-shadow: 0 0 3px #c1bcbc;
  padding: 1em;
  max-height: 350px;
  border-radius: 0.5em;
}
.product-img {
  text-align: center;
}
.description {
  text-align: center;
}
.description img {
  height: 100px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}
.mentions h2 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: -2;
  grid-column-end: -1;
  text-align: center;
  font-size: 2em;
  margin: 2em 0;
}
.mention-item {
  -webkit-box-shadow: 0 0 3px #c1bcbc;
  box-shadow: 0 0 3px #c1bcbc;
  border-radius: 5px;
  overflow: hidden;
}
.mention-item img {
  width: 100%;
}
.mention-item h3,
.mention-item p {
  margin: 0;
  padding: 0 0.5em 0.8em;
  line-height: 1.3em;
}
.products-container .main-title {
  text-align: initial;
}
.item-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px 1fr;
  grid-template-columns: 300px 1fr;
  grid-column-gap: 2em;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.item-container figure {
  text-align: center;
}
.item-container figure img {
  height: 200px;
}
.item-container:nth-of-type(2) {
  -ms-grid-columns: 1fr 300px;
  grid-template-columns: 1fr 300px;
  grid-template-areas: "i-left i-right";
}
.item-container:nth-of-type(2) .item-description {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: i-left;
}
.item-container:nth-of-type(2) figure {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: i-right;
}
.sale-form.item {
  height: auto;
}
.sale-form-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 1em 0;
}
.sale-form-container .field {
  margin-bottom: 1em;
  padding: 0.5em 0;
  border-radius: 0.3em;
  border: 1px solid #c1bcbc;
}
.sale-form-container .btn {
  margin-top: 1em;
}
@media (max-width: 1024px) {
  .grid-main,
  .mentions {
    padding-left: 1em;
    padding-right: 1em;
  }
}
@media (max-width: 768px) {
  .hero {
    height: auto;
    padding-bottom: 2em;
  }
  .products,
  .description-product,
  .item-container,
  .item-container:nth-of-type(2),
  .sale-container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-row-gap: 1em;
  }
  .description-product {
    padding-top: 4em;
  }
  .product {
    height: auto;
    max-height: auto;
  }
  .mentions {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 1em;
    padding-top: 1em;
  }
  .mentions h2 {
    margin: 0;
  }
  .item-container:nth-of-type(2) {
    grid-template-areas: "i-left" "i-right";
  }
  .item-container:nth-of-type(2) .item-description {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: i-right;
  }
  .item-container:nth-of-type(2) figure {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: i-left;
  }
  .sale-container,
  .sale-container .item {
    height: auto;
  }
  .item-container:nth-of-type(2) .item-description {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .item-container:nth-of-type(2) figure {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
}
@media (max-width: 768px) {
  .item-container:nth-of-type(2) .item-description {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .item-container:nth-of-type(2) figure {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
}
@media (max-width: 480px) {
  .main-title {
    font-size: 1.5em;
  }
  .mentions {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .mentions .mention-item img {
    height: 100px;
    -o-object-fit: cover;
    object-fit: cover;
  }
}
@media (max-width: 320px) {
  .header {
    height: auto;
  }
}
