// colores
color-brand = #7ACC2D
color-brand-hover = #5e9c24
color-white = #fff
color-gray-border = #c1bcbc
color-white-border = #e8e8e8
color-black = #000
color-footer = #313337

//tamaños de fuente
size-principal-font = 16px
size-principal-title = 2.5em
size-secundary-title = 2em

// tipo de fuente
gn-font = 'Mukta', sans-serif;

//espaciados
gn-space = 1em

//ruta imagenes
src-images = '/images/'

//Justificados flexbox
justified-default = center

//box shadow
box-style-shadow = 0 0 3px color-gray-border

//constante
width-box-min = 400px