.btn
  background-color: color-brand
  color: color-white
  padding: gn-space
  text-decoration: none
  border: 0
  border-radius: 2px
  width 100%
  cursor: pointer
  transition: .3s
  &:hover
    background-color: color-brand-hover